


body {
    font-family: Arial, sans-serif;
    color:shadow;
}
div{

}
.div1{
background-color:#ccccff;
    padding: 15px;
    border-radius: 50px;
    margin: 10px;
border: solid 2px white;
}
.fa-html5 {
  color: hsl(13, 77%, 52%);
  font-size: 200PX ;
border: solid 2px white;
border-radius: 50px;
padding: 10px;

}
.fa-css3 {
  color:#264de4 ;
border: solid 2px white;
  font-size: 200PX;
border-radius: 50px;
padding: 10px;
}
.fa-js {
  color: yellow;
  font-size: 200PX;
border: solid 2px white;
border-radius: 50px;
padding: 10px;
}
.fa-python {
  color:#4B8BBE;
  font-size:200PX;  
border: solid 2px white;
border-radius: 50px;
padding: 10px;
}
h2,h3{
color:#993366;
}
.column {
  float:left;
  width:280px;
  padding:2px;
  text-align: center;

  
}
 .row::after{
   content:"";
   display:table;
   clear:both;
 }



.background{
padding-top: 25px;
padding-bottom: 15px;
padding-right: 850px;
padding-left: 20px;
  background-image: url("akki.jpg");
  background-size: 1050px;
  width: 300px;
  height: 300px;
  border: solid 2px white;

    border-radius: 50px;
    margin: 10px;

    
}

header {
    background-color: #333;
    padding: 20px;
background-image: url("jk.jpg");
}

h1 {
    font-size: 3rem;
}
#btn-twtr{

  color:#fff;
  border:2px solid;
  border-radius:6px;
  text-decoration:none;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  margin:40px auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
 
}
nav {
    background-color: #555;
    padding: 10px;
    position:sticky;
    top:0;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 150px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


